
/StatLightToNUnitReportGenerator.Tests/obj
/StatLightToNUnitReportGenerator.Tests/bin
/StatLightToNUnitReportGenerator/bin
/StatLightToNUnitReportGenerator/obj
/StatLightToNUnitReportGenerator.suo
/StatLightToNUnitReportGenerator/StatLightToNUnitReportGenerator.csproj.user
/StatLightToNUnitReportGenerator.suo
/StatLightToNUnitReportGenerator/StatLightToNUnitReportGenerator.csproj.user